// @import './functions' !default;

// Color values
$transparent: transparent !default;

$white: #fff !default;
$very-very-light-grey: #f6f6f6 !default;
$very-light-grey: #ececec !default;
$light-grey: #dddddd !default;
$grey: #b6b6b6 !default;
$dark: #303030 !default;
$very-dark: #101010 !default;
$black: #000 !default;

$red: #F44336 !default;
$dark-red: #B71C1C !default;

$pink: #E91E63 !default;
$dark-pink: #880E4F !default;

$orange: #FF9800 !default;
$dark-orange: #E65100 !default;

$yellow: #FFEB3B !default;
$dark-yellow: #F9A825 !default;

$green: #4CAF50 !default;
$dark-green: #1B5E20 !default;

$purple: #9C27B0 !default;
$dark-purple: #4A148C !default;

$blue: #2196F3 !default;
$dark-blue: #0D47A1 !default;



// Typography
$font-system: system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif !default;
$font-sans: $font-system;
$font-serif: 'Droid Serif', 'Georgia', serif !default;
$font-mono: 'Roboto Mono', 'Monaco', 'Menlo', 'Segoe UI Mono', 'Consolas', courier, monospace !default;
$font-display: null !default; // Optional

$font-size-small: 0.75em !default;
$font-size-large: 1.25em !default;

$font-size-display: $font-size-large !default; // Optional
$font-size-mono: 0.875em !default; // Optional
$font-size-uppercase: null !default; // Optional

$font-weight-semibold: 700 !default;
$font-weight-bold: 700 !default;
$font-weight-headline: null !default;

// Line heights
$line-height-very-tight: 1.2 !default;
$line-height-tight: 1.4 !default;
$line-height: 1.6 !default;
$line-height-loose: 2 !default;
$line-height-print: 1.5 !default;

$line-height-very-tight-em: $line-height-very-tight * 1em;
$line-height-tight-em: $line-height-tight * 1em;
$line-height-em: $line-height * 1em;
$line-height-loose-em: $line-height-loose * 1em;
$line-height-print-em: $line-height-print * 1em;

// Local web fonts to generate a font-face definitions based on
//
// NOTE:
// - remember to use trailing commas with Sass nested lists to avoid gotchas
// - See `font-face.scss` and `mixin-font-face.scss`
// $local-web-fonts: (
//   (
//     font-family: 'Source Sans Pro',
//     font-weight: 400,
//     font-style: normal,
//     path: 'source-sans/sourcesanspro-regular-webfont',
//   ),
//   (
//     font-family: 'Source Sans Pro',
//     font-weight: 400,
//     font-style: italic,
//     path: 'source-sans/sourcesanspro-italic-webfont',
//   ),
//   (
//     font-family: 'Source Sans Pro',
//     font-weight: 700,
//     font-style: normal,
//     path: 'source-sans/sourcesanspro-bold-webfont',
//   ),
//   (
//     font-family: 'Source Sans Pro',
//     font-weight: 700,
//     font-style: italic,
//     path: 'source-sans/sourcesanspro-bolditalic-webfont',
//   ),
// );



// Radiuses
$radius-tight: 2px !default;
$radius: 5px !default;
$radius-loose: 10px !default;



// Rhythm

$rhythm-tight-half: 0.4em !default;
$rhythm-tight: 0.8em !default;
$rhythm-base: 1.6em !default;
$rhythm-loose: 3.2em !default;

$hairline-border-width: 1px !default;
$dashed-border-width: 2px !default;
$thick-border-width: 0.25em !default;

$pad-tight-vertical: 2px !default;
$pad-tight-horizontal: 6px !default;
$pad-vertical: 6px !default;
$pad-horizontal: 12px !default;
$pad-loose-vertical: 10px !default;
$pad-loose-horizontal: 18px !default;

$buffer-very-tight: 0.4rem; // em
$buffer-tight: $buffer-very-tight * 2;   // 0.8em
$buffer: $buffer-tight * 2;       // 1.6em
$buffer-loose: $buffer * 2;       // 3.2em

$buffer-relative-tight: 2% !default;
$buffer-relative: 6% !default;



// Transition durations
$transition-very-very-fast: 25ms !default;
$transition-very-fast: 75ms !default;
$transition-fast: 150ms !default;
$transition-medium: 250ms !default;
$transition-slow: 450ms !default;
$transition-slowish: 600ms !default;
$transition-very-slow: 900ms !default;
$transition-very-very-slow: 1200ms !default;

// Transition property sets
$transition-properties-style: opacity, color, background-color, border-color, box-shadow, text-shadow, text-decoration-color !default;
$transition-properties-common: transform, $transition-properties-style !default;
$transition-properties-transform: transform, width, height !default;
$transition-properties-position: transform, top, bottom, left, right !default;

// Easing functions
$easing-none: linear !default;
$easing-ease: ease !default;
$easing-snap: cubic-bezier(0, 0.5, 0.5, 1) !default;
$easing-bounce: cubic-bezier(0, 0.5, 0.5, 1.05) !default;
$easing-smooth: cubic-bezier(0.19, 1, 0.22, 1) !default;



// Pixel ratios
// What to regard as limit for high pixel density (retina)
$hdpi: 140dpi;



// Content-oriented defined paragraph widths
$width-content-very-tight: 8em !default;
$width-content-tight: 18em !default;
$width-content: 30em !default;
$width-content-loose: 42em !default;
$width-content-very-loose: 64em !default;

// Defined screen widths in portrait
$width-iphone-4: 320px !default;
$width-iphone-5: $width-iphone-4 !default;
$width-iphone-6: 375px !default;
$width-iphone-6-plus: 414px !default;
$width-ipad: 768px !default;
$width-ipad-pro: 1024px !default;

// Defined screen widths in portrait
$height-iphone-4: 480px !default;
$height-iphone-5: 568px !default;
$height-iphone-6: 667px !default;
$height-iphone-6-plus: 736px !default;
$height-ipad: 1024px !default;
$height-ipad-pro: 1366px !default;



// Breakpoints
// See `mixin-viewport.scss`
// NOTE: defining breakpoints in px gives more predictable control on devices, and avoids any issues when em is scaled
$breakpoint-tiny: $width-iphone-6-plus !default;
$breakpoint-small: $height-iphone-6 !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1280px !default;
$breakpoint-very-large: 1440px !default;
$breakpoint-full: 1980px !default;

$breakpoint-phone: $breakpoint-small;
$breakpoint-tablet: $breakpoint-large;
$breakpoint-hd: $breakpoint-very-large;



// Defaults
$default-perspective: 600px !default;

$default-font: $font-sans !default;
$default-font-size: 16px !default;
$default-line-height: $line-height !default;

$default-background-color: $white !default;

$default-discreet-light-color: $very-light-grey !default;
$default-discreet-color: $light-grey !default;
$default-discreet-dark-color: $grey !default;
$default-discreet-text-color: $default-dark-discreet-color !default;

$default-text-color: $dark !default;
$default-link-color: $blue !default;
$default-link-active-color: $dark-blue !default;
$default-border-color: $light-grey !default;

$default-transition-duration: $transition-fast !default;

// NOTE: don't touch this unless you know what you're doing
$default-transition-easing: null !default;

$default-shadow-opacity: 0.2 !default;
$default-shadow-color: $dark !default;
