@mixin pad-tight {
  @include pad-tight-horizontal;
  @include pad-tight-vertical;
}

@mixin pad-tight-even {
  @include pad-tight-horizontal-even;
  @include pad-tight-vertical;
}

@mixin pad-tight-even-max {
  @include pad-tight-horizontal;
  @include pad-tight-vertical-even;
}



@mixin pad-tight-horizontal {
  @include pad-tight-left;
  @include pad-tight-right;
}

@mixin pad-tight-horizontal-even {
  @include pad-tight-left-even;
  @include pad-tight-right-even;
}



@mixin pad-tight-right {
  padding-right: $pad-tight-horizontal;
}

@mixin pad-tight-right-even {
  padding-right: $pad-tight-vertical;
}

@mixin pad-tight-left {
  padding-left: $pad-tight-horizontal;
}

@mixin pad-tight-left-even {
  padding-left: $pad-tight-vertical;
}



@mixin pad-tight-vertical {
  @include pad-tight-top;
  @include pad-tight-bottom;
}

@mixin pad-tight-vertical-even {
  @include pad-tight-top-even;
  @include pad-tight-bottom-even;
}

@mixin pad-tight-top {
  padding-top: $pad-tight-vertical;
}

@mixin pad-tight-top-even {
  padding-top: $pad-tight-horizontal;
}

@mixin pad-tight-bottom {
  padding-bottom: $pad-tight-vertical;
}

@mixin pad-tight-bottom-even {
  padding-bottom: $pad-tight-horizontal;
}
