@mixin pad-loose {
  @include pad-loose-horizontal;
  @include pad-loose-vertical;
}

@mixin pad-loose-even {
  @include pad-loose-horizontal-even;
  @include pad-loose-vertical;
}

@mixin pad-loose-even-max {
  @include pad-loose-horizontal;
  @include pad-loose-vertical-even;
}



@mixin pad-loose-horizontal {
  @include pad-loose-left;
  @include pad-loose-right;
}

@mixin pad-loose-horizontal-even {
  @include pad-loose-left-even;
  @include pad-loose-right-even;
}



@mixin pad-loose-right {
  padding-right: $pad-loose-horizontal;
}

@mixin pad-loose-right-even {
  padding-right: $pad-loose-vertical;
}

@mixin pad-loose-left {
  padding-left: $pad-loose-horizontal;
}

@mixin pad-loose-left-even {
  padding-left: $pad-loose-vertical;
}



@mixin pad-loose-vertical {
  @include pad-loose-top;
  @include pad-loose-bottom;
}

@mixin pad-loose-vertical-even {
  @include pad-loose-top-even;
  @include pad-loose-bottom-even;
}

@mixin pad-loose-top {
  padding-top: $pad-loose-vertical;
}

@mixin pad-loose-top-even {
  padding-top: $pad-loose-horizontal;
}

@mixin pad-loose-bottom {
  padding-bottom: $pad-loose-vertical;
}

@mixin pad-loose-bottom-even {
  padding-bottom: $pad-loose-horizontal;
}
