@mixin gradient (
  $direction: 0deg,
  $color1: rgba(#000, 0),
  $color2: #000
) {
  background-image: linear-gradient(
    $direction,
    $color1,
    $color2
  );
}

@mixin gradient-dark ($direction: 0deg, $hue: 205, $saturation: 12%, $luminance: 26%) {
  background-image: linear-gradient($direction, hsla($hue, $saturation, $luminance, 0),
    hsla($hue, $saturation, $luminance, 0.06) 80%,
    hsla($hue, $saturation, $luminance, 0.12));
}

@mixin gradient-white ($direction: 0deg, $max: 1) {
  background-image: linear-gradient(
    $direction,
    rgba($color-white, 0),
    rgba($color-white, ($max/2)) 50%,
    rgba($color-white, $max)
  );
}
