@mixin gradient (
  $direction: 0deg,
  $color1: rgba(#000, 0),
  $color2: #000
) {
  background-image: linear-gradient(
    $direction,
    $color1,
    $color2
  );
}

@mixin gradient-dark ($direction: 0deg, $opacity1: 0, $opacity2: 1) {
  @include gradient($direction, translucent($dark, $opacity1), translucent($dark, $opacity2))
}

@mixin gradient-white ($direction: 0deg, $opacity1: 0, $opacity2: 1) {
  @include gradient($direction, translucent($white, $opacity1), translucent($white, $opacity2))
}
