// Families
@mixin type-mono {
	font-family: $font-mono;
}

@mixin type-serif {
	font-family: $font-serif;
}

@mixin type-sans {
	font-family: $font-sans;
}



// Other type-related

@mixin type-hyphens {
	// word-break: break-word;
	hyphens: auto;
}

@mixin type-nohyphens {
	// word-break: normal;
	hyphens: manual;
}

@mixin type-nobreak {
	word-break: keep-all;
	white-space: nowrap;
}

@mixin type-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	// vertical-align: middle;
}



// Line height

@mixin line-height-tight {
	line-height: $line-height-tight;
}

@mixin line-height-default {
	line-height: $line-height;
}

@mixin line-height-loose {
	line-height: $line-height-loose;
}

@mixin no-line-height {
	line-height: 1;
}
