// Print

@mixin viewport-print {
	@media print {
		@content;
	}
}

@mixin viewport-screen {
	@media screen {
		@content;
	}
}

@mixin viewport-not-print {
	@media not print {
		@content;
	}
}



// Orientation

@mixin viewport-portrait {
	@media (max-aspect-ratio: 1/1) {
		@content;
	}
}

@mixin viewport-landscape {
	@media (min-aspect-ratio: 1/1) {
		@content;
	}
}



// DPI

@mixin viewport-hdpi () {
	@media (min-resolution: $hdpi) {
		@content;
	}
}

@mixin viewport-not-hdpi () {
	@media (max-resolution: $hdpi - 1dpi) {
		@content;
	}
}



// Generic responsive width

@mixin viewport-under ($breakpoint) {
	@media (max-width: ($breakpoint)) {
		@content;
	}
}

@mixin viewport-over ($breakpoint) {
	@media (min-width: ($breakpoint)) {
		@content;
	}
}

@mixin viewport-under-excl ($breakpoint) {
	@if (unit($breakpoint) == 'px') {
		$breakpoint: $breakpoint - 1px;
	}
	@include viewport-under($breakpoint) {
		@content;
	}
}

@mixin viewport-over-excl ($breakpoint) {
	@if (unit($breakpoint) == 'px') {
		$breakpoint: $breakpoint + 1px;
	}
	@include viewport-over($breakpoint) {
		@content;
	}
}



// Generic responsive height

@mixin viewport-height-under ($breakpoint) {
	@media (max-height: ($breakpoint)) {
		@content;
	}
}

@mixin viewport-height-over ($breakpoint) {
	@media (min-height: ($breakpoint)) {
		@content;
	}
}

@mixin viewport-height-under-excl ($breakpoint) {
	@if (unit($breakpoint) == 'px') {
		$breakpoint: $breakpoint - 1px;
	}
	@include viewport-height-under($breakpoint) {
		@content;
	}
}

@mixin viewport-height-over-excl ($breakpoint) {
	@if (unit($breakpoint) == 'px') {
		$breakpoint: $breakpoint + 1px;
	}
	@include viewport-height-over($breakpoint) {
		@content;
	}
}



// From `constants.scss`

@mixin viewport-under-tiny {
	@include viewport-under($breakpoint-tiny) {
		@content;
	}
}

@mixin viewport-over-tiny {
	@include viewport-over($breakpoint-tiny) {
		@content;
	}
}

@mixin viewport-under-tiny-excl {
	@include viewport-under-excl($breakpoint-tiny) {
		@content;
	}
}

@mixin viewport-over-tiny-excl {
	@include viewport-over-excl($breakpoint-tiny) {
		@content;
	}
}



@mixin viewport-under-small {
	@include viewport-under($breakpoint-small) {
		@content;
	}
}

@mixin viewport-over-small {
	@include viewport-over($breakpoint-small) {
		@content;
	}
}

@mixin viewport-under-small-excl {
	@include viewport-under-excl($breakpoint-small) {
		@content;
	}
}

@mixin viewport-over-small-excl {
	@include viewport-over-excl($breakpoint-small) {
		@content;
	}
}



@mixin viewport-under-medium {
	@include viewport-under($breakpoint-medium) {
		@content;
	}
}

@mixin viewport-over-medium {
	@include viewport-over($breakpoint-medium) {
		@content;
	}
}

@mixin viewport-under-medium-excl {
	@include viewport-under-excl($breakpoint-medium) {
		@content;
	}
}

@mixin viewport-over-medium-excl {
	@include viewport-over-excl($breakpoint-medium) {
		@content;
	}
}



@mixin viewport-under-large {
	@include viewport-under($breakpoint-large) {
		@content;
	}
}

@mixin viewport-over-large {
	@include viewport-over($breakpoint-large) {
		@content;
	}
}

@mixin viewport-under-large-excl {
	@include viewport-under-excl($breakpoint-large) {
		@content;
	}
}

@mixin viewport-over-large-excl {
	@include viewport-over-excl($breakpoint-large) {
		@content;
	}
}



@mixin viewport-under-very-large {
	@include viewport-under($breakpoint-very-large) {
		@content;
	}
}

@mixin viewport-over-very-large {
	@include viewport-over($breakpoint-very-large) {
		@content;
	}
}

@mixin viewport-under-very-large-excl {
	@include viewport-under-excl($breakpoint-very-large) {
		@content;
	}
}

@mixin viewport-over-very-large-excl {
	@include viewport-over-excl($breakpoint-very-large) {
		@content;
	}
}



@mixin viewport-under-full {
	@include viewport-under($breakpoint-full) {
		@content;
	}
}

@mixin viewport-over-full {
	@include viewport-over($breakpoint-full) {
		@content;
	}
}

@mixin viewport-under-full-excl {
	@include viewport-under-excl($breakpoint-full) {
		@content;
	}
}

@mixin viewport-over-full-excl {
	@include viewport-over-excl($breakpoint-full) {
		@content;
	}
}
