@mixin mono {
  font-family: $font-mono;
}

@mixin serif {
  font-family: $font-serif;
}

@mixin sans {
  font-family: $font-sans;
}

@mixin headline-font {

  @if variable-exists(font-headline) {
    font-family: $font-headline;
  }

  @if variable-exists(font-weight-headline) {
    font-family: $font-weight-headline;
  }

}
