@mixin type-hyphens {
	// word-break: break-word;
	hyphens: auto;
}

@mixin type-nohyphens {
	// word-break: normal;
	hyphens: manual;
}

@mixin type-nobreak {
	word-break: keep-all;
	white-space: nowrap;
}

@mixin type-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	// vertical-align: middle;
}

@mixin type-max-lines ($count) {
  @if $count {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $count;

    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }
}
