// Margins

@mixin push {
  @include push-horizontal;
  @include push-vertical;
}

@mixin push-even {
  @include push-horizontal;
  @include push-vertical-even;
}



// Pane

@mixin push-horizontal {
  @include push-left;
  @include push-right;
}

@mixin push-vertical {
  @include push-top;
  @include push-bottom;
}

@mixin push-vertical-even {
  @include push-top-even;
  @include push-bottom;
}



// Single

@mixin push-top {
  margin-top: $buffer-tight;
}

@mixin push-top-even {
  margin-top: $buffer;
}

@mixin push-right {
  margin-right: $buffer;
}

@mixin push-bottom {
  margin-bottom: $buffer;
}

@mixin push-left {
  margin-left: $buffer;
}
