// Double margins

@mixin push-loose {
	@include push-loose-horizontal;
	@include push-loose-vertical;
}

@mixin push-loose-even {
	@include push-loose-horizontal;
	@include push-loose-vertical-even;
}



// Pane

@mixin push-loose-horizontal {
	@include push-loose-left;
	@include push-loose-right;
}

@mixin push-loose-vertical {
	@include push-loose-top;
	@include push-loose-bottom;
}

@mixin push-loose-vertical-even {
	@include push-loose-top-even;
	@include push-loose-bottom;
}



// Single

@mixin push-loose-top {
	margin-top: $buffer;
}

@mixin push-loose-top-even {
	margin-top: $buffer-loose;
}

@mixin push-loose-right {
	margin-right: $buffer-loose;
}

@mixin push-loose-bottom {
	margin-bottom: $buffer-loose;
}

@mixin push-loose-left {
	margin-left: $buffer-loose;
}
