@mixin push-pad-loose ($count: 1) {
  @include push-pad-loose-vertical($count);
  @include push-pad-loose-horizontal($count);
}

@mixin push-pad-loose-vertical ($count: 1) {
  @include push-pad-loose-top($count);
  @include push-pad-loose-bottom($count);
}

@mixin push-pad-loose-horizontal ($count: 1) {
  @include push-pad-loose-left($count);
  @include push-pad-loose-right($count);
}



@mixin push-pad-loose-top ($count: 1) {
  margin-top: $count * $pad-loose-vertical;
}

@mixin push-pad-loose-bottom ($count: 1) {
  margin-bottom: $count * $pad-loose-vertical;
}

@mixin push-pad-loose-left ($count: 1) {
  margin-left: $count * $pad-loose-horizontal;
}

@mixin push-pad-loose-right ($count: 1) {
  margin-right: $count * $pad-loose-horizontal;
}



// Flip horizontal/vertical

@mixin push-pad-loose-vertical-even ($count: 1) {
  @include push-pad-loose-top-even($count);
  @include push-pad-loose-bottom-even($count);
}

@mixin push-pad-loose-horizontal-even ($count: 1) {
  @include push-pad-loose-left-even($count);
  @include push-pad-loose-right-even($count);
}

@mixin push-pad-loose-top-even ($count: 1) {
  margin-top: $count * $pad-loose-horizontal;
}

@mixin push-pad-loose-bottom-even ($count: 1) {
  margin-bottom: $count * $pad-loose-horizontal;
}

@mixin push-pad-loose-left-even ($count: 1) {
  margin-left: $count * $pad-loose-vertical;
}

@mixin push-pad-loose-right-even ($count: 1) {
  margin-right: $count * $pad-loose-vertical;
}
