// Small buffers

@mixin buffer-tight {
	padding: $buffer-very-tight $buffer-tight $buffer-tight $buffer-tight;
}

@mixin buffer-tight-even {
	padding: $buffer-tight;
}



// Pane

@mixin buffer-tight-horizontal {
	padding-left: $buffer-tight;
	padding-right: $buffer-tight;
}

@mixin buffer-tight-vertical {
	padding-top: $buffer-very-tight;
	padding-bottom: $buffer-tight;
}

@mixin buffer-tight-vertical-even {
	padding-top: $buffer-tight;
	padding-bottom: $buffer-tight;
}



// Single

@mixin buffer-tight-top {
	padding-top: $buffer-very-tight;
}

@mixin buffer-tight-top-even {
	padding-top: $buffer-tight;
}

@mixin buffer-tight-right {
	padding-right: $buffer-tight;
}

@mixin buffer-tight-bottom {
	padding-bottom: $buffer-tight;
}

@mixin buffer-tight-left {
	padding-left: $buffer-tight;
}
