// Percentage-based buffers

@mixin buffer-relative {
	padding: $buffer-relative-tight $buffer-relative $buffer-relative $buffer-relative;
}

@mixin buffer-relative-even {
	padding: $buffer-relative;
}



// Pane

@mixin buffer-relative-horizontal {
	padding-left: $buffer-relative;
	padding-right: $buffer-relative;
}

@mixin buffer-relative-vertical {
	padding-top: $buffer-relative-tight;
	padding-bottom: $buffer-relative;
}

@mixin buffer-relative-vertical-even {
	padding-top: $buffer-relative;
	padding-bottom: $buffer-relative;
}



// Single

@mixin buffer-relative-top {
	padding-top: $buffer-relative-tight;
}

@mixin buffer-relative-top-even {
	padding-top: $buffer-relative;
}

@mixin buffer-relative-right {
	padding-right: $buffer-relative;
}

@mixin buffer-relative-bottom {
	padding-bottom: $buffer-relative;
}

@mixin buffer-relative-left {
	padding-left: $buffer-relative;
}
