// Double buffers

@mixin buffer-loose ($step: 1) {
  padding: ($step * $buffer) ($step * $buffer-loose) ($step * $buffer-loose) ($step * $buffer-loose);
}

@mixin buffer-loose-even ($step: 1) {
  padding: $step * $buffer-loose;
}



// Pane

@mixin buffer-loose-horizontal {
  padding-left: $buffer-loose;
  padding-right: $buffer-loose;
}

@mixin buffer-loose-vertical {
  padding-top: $buffer;
  padding-bottom: $buffer-loose;
}

@mixin buffer-loose-vertical-even {
  padding-top: $buffer-loose;
  padding-bottom: $buffer-loose;
}



// Single

@mixin buffer-loose-top {
  padding-top: $buffer;
}

@mixin buffer-loose-top-even {
  padding-top: $buffer-loose;
}

@mixin buffer-loose-right {
  padding-right: $buffer-loose;
}

@mixin buffer-loose-bottom {
  padding-bottom: $buffer-loose;
}

@mixin buffer-loose-left {
  padding-left: $buffer-loose;
}
