@mixin border-box-background {
  background-clip: border-box;
}

@mixin content-box-background {
  background-clip: content-box;
}

@mixin padding-box-background {
  background-clip: padding-box;
}

@mixin clip-text {
  background-clip: text;
}
